<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
<title>Insert title here</title>
</head>
<body>
          <footer id="fragmentTag" th:fragment="footer1(Title,subTitle)">
          <h1 th:text="'Title  '+ ${Title}"></h1>
          <h1 th:text="'SubTitle  '+ ${subTitle}"></h1>
          <div>
          <p>_________________________________</p>
          <h2> this is footer </h1>
           <h2> my name is kapil and who you</h2>
           <h2>this page devlop for check fragment </h2>
          </div>
          <h3> i know, i am do everything</h3>
           <p>_________________________________</p>
          
          </footer>   
             
</body>
</html>